In [1]:
import pandas as pd

df = pd.read_csv("./assign1.csv")

In [2]:
df.head()

,Unnamed: 0,Student_ID,Age,Gender,Academic_Level,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,0,1,19,1,1,5.2,Instagram,1,6.5,6,In Relationship,3,8
1,1,2,22,0,2,2.1,Twitter,0,7.5,8,Single,0,3
2,2,3,20,1,1,6.0,TikTok,1,5.0,5,Complicated,4,9
3,3,4,18,0,0,3.0,YouTube,0,7.0,7,Single,1,4
4,4,5,21,0,2,4.5,Facebook,1,6.0,6,In Relationship,2,7

In [3]:
df = df[df['Relationship_Status'] != 'Complicated']
df['Relationship_Status'] = df['Relationship_Status'].map({'In Relationship':True,'Single':False})

In [4]:
df['Most_Used_Platform'].value_counts()

Most_Used_Platform
Instagram    239
TikTok       146
Facebook     122
WhatsApp      54
Twitter       30
LinkedIn      16
WeChat        15
LINE          12
KakaoTalk     12
VKontakte     12
Snapchat       9
YouTube        6
Name: count, dtype: int64

In [5]:
video = ("YouTube", "TikTok")
social = ("Instagram", "Facebook", "Twitter", "LinkedIn", "VKontakte", "Snapchat")
messenger = ("WhatsApp", "WeChat", "LINE", "KakaoTalk")

In [6]:
platform_map = {}
for p in video: platform_map[p] = 'Video'
for p in social: platform_map[p] = 'Social'
for p in messenger: platform_map[p] = 'Messenger'

In [7]:
df['Category'] = df['Most_Used_Platform'].map(platform_map)

In [8]:
df = df.drop(columns=['Most_Used_Platform'])

In [9]:
df.head()

,Unnamed: 0,Student_ID,Age,Gender,Academic_Level,Avg_Daily_Usage_Hours,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score,Category
0,0,1,19,1,1,5.2,1,6.5,6,True,3,8,Social
1,1,2,22,0,2,2.1,0,7.5,8,False,0,3,Social
3,3,4,18,0,0,3.0,0,7.0,7,False,1,4,Video
4,4,5,21,0,2,4.5,1,6.0,6,True,2,7,Social
6,6,7,23,0,2,1.5,0,8.0,9,False,0,2,Social

In [10]:
df = pd.get_dummies(df, columns=['Category'])

In [11]:
df

,Unnamed: 0,Student_ID,Age,Gender,Academic_Level,Avg_Daily_Usage_Hours,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score,Category_Messenger,Category_Social,Category_Video
0,0,1,19,1,1,5.2,1,6.5,6,True,3,8,False,True,False
1,1,2,22,0,2,2.1,0,7.5,8,False,0,3,False,True,False
3,3,4,18,0,0,3.0,0,7.0,7,False,1,4,False,False,True
4,4,5,21,0,2,4.5,1,6.0,6,True,2,7,False,True,False
6,6,7,23,0,2,1.5,0,8.0,9,False,0,2,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,700,701,20,1,1,4.7,0,7.2,7,True,2,5,False,False,True
701,701,702,23,0,2,6.8,1,5.9,4,False,5,9,False,True,False
702,702,703,21,1,1,5.6,1,6.7,6,True,3,7,True,False,False
703,703,704,24,0,2,4.3,0,7.5,8,False,2,4,False,True,False
704,704,705,19,1,1,6.2,1,6.3,5,False,4,8,False,True,False

In [14]:
df.to_csv("./categories_SSMA.csv")